<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="http://localhost:3000/changePassword" method="post">
        账号：<input id='userName'type="text" placeholder="请输入账号" name="userName"/><br/>
        邮箱验证码：<input type="text" placeholder="请输入邮箱验证码" name="emailCode"/><button onclick='aa(event);'>获取邮箱验证码</button><br/>
        输入新密码：<input type="password" placeholder="请输入新密码" name="passWord1"/><br/>
        确认新密码：<input type="password" placeholder="请确认新密码" name="passWord2"/><br/>
        <input type="submit" value="确认修改" /><br/> 
    </form>
	<script>
		function aa(event) {
			event.preventDefault();
			event.stopPropagation();
			var user = document.getElementById('userName').value;
			console.log(user);
			//对temEmail编码
			var userName = encodeURIComponent(user);
			console.log(userName);
			//发送ajax请求
			var xhr;
			if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
				xhr=new XMLHttpRequest();
			}
			else {// code for IE6, IE5
				xhr=new ActiveXObject("Microsoft.XMLHTTP");
			}
			xhr.onreadystatechange=function() {
				if (xhr.readyState==4 && xhr.status==200) {
					console.log('发送完成');
				}
			}
			xhr.open("POST","http://localhost:3000/sendEmailCodeForChangePWD",true);
			xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
			xhr.send("userName="+userName);
		}		
	</script>
  </body>
</html>
