<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
		#logo{
			vertical-align: middle;
			width: 58px;
			height: 40px;
			float: left;
		}
		.nav{
			display: inline;
		}
	</style>
  </head>
  <body>
	<div id='nav'>
		<ul class="nav nav-pills">
		<li class="active"><a href="./home">大厅</a></li>
		<li><a href="./myInfo">我的信息</a></li>
		<li><a href="./publish">发布交友信息</a></li>
		<li><a href="./exit">退出</a></li>
		<img id='logo'src="/img/4.jpg" class="img-circle">		
		</ul>

		
		
	<% for(var i=0; i<source.length; i++) { %>  
        <div>  
            <img src='<%= decodeURIComponent(source[i].logoPath).slice(20) %>'>   
            </img>  
        </div>  
    <% } %> 
	</div>
  </body>
</html>
