<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
        .container{
            margin: auto;
        }
        #header{
            font-size:90px;
            color: gray;
         
        }
        .inputArea{
            border: 1px solid gray;
            height:30px;
            width:500px;
        }
        .login{
            background-color: rgba(32, 179, 32, 0.51);
            border: 1px solid gray;
            height:30px;
            width:90px;
            border-radius:6%;
        }
        .textarea{
            height:380px;
        }
    </style>
    <script type="text/javascript" src="javascripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="javascripts/xheditor.min.js"></script>
    <script type="text/javascript" src="javascripts/xheditor_lang/zh-cn.js"></script>
  </head>
  <body style="background-image:url(./img/9.jpg);display:flex;">
        <div style="right:0;position:absolute;"><a href="./home"><img style="width:40px;height:40px;" src="img/home.png" alt="返回主页" /></a></div>
    <div class="container"><br/><br/><br/><br/><br/>
    <div style="text-align:center"><embed wmode="transparent" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.swf" quality="high" bgcolor="#ffffff" width="160" height="70" name="honehoneclock" align="center" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></div>
    <h1 id="header"><%= title %></h1>
    <p style="color:red;"><%= info %></p>
    <form action="./publishLog" method="post" class="container1">
        <input class="inputArea" type="text" placeholder="标题"  name="title"/><br/><br/>
        <textarea class="inputArea textarea xheditor" placeholder="正文" name="content"></textarea><br/><br/>
        <input class="login" type="submit" value="发布" />
		<input class="login" type="submit" value="重置全部" onclick='clearContent(event);return false;' />
		<input id="displayInfo" class="login" type="submit" value="显示我的日志" onclick='window.open("./logList?page=1","_self");return false;' />
		<br/> 
    </form>
    </div>
    <script>
        function clearContent(event) {
            event.preventDefault();
			event.stopPropagation();        
            var nodeArr = document.getElementsByClassName("inputArea");
            Array.prototype.forEach.call(nodeArr, function(item) {
                item.value = null;
            });
			//其实form有reset方法
        }	
    </script>
  </body>
</html>
