<!DOCTYPE html>
<html>
  <head>
    <title>日志详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.css">
    <script src="javascripts/jquery-1.10.2.js"></script>
    <script src="javascripts/jquery.mobile-1.4.5.js"></script>
    <script type="text/javascript" src="javascripts/xheditor.min.js"></script>
    <script type="text/javascript" src="javascripts/xheditor_lang/zh-cn.js"></script>
  </head>
  <body>
  <div data-role="page" class="container">
    <div data-role="header">
        <a href="./home" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">主页</a>
        <h1>1</h1>
    </div>
    <div data-role="main" class="ui-content" id="myLog">
        <div id="display">
            <input class="inputArea" type="text" placeholder="标题"  name="title" disabled value="<%= title %>" /><br/><br/>
            <div id="txt" class="inputArea textarea " placeholder="正文" name="content" disabled><%= data %></div><br/><br/>
        </div>      
    </div>
    <input type="button" id="newLog" onclick='window.open("./log","_self");return false;' value="新建日志"/>
  </div>
    <script>
        function displayLog(event) {
            alert(1);
        }
        function enterInput(event) {
            //event.preventDefault(); 若阻止该默认事件，input不能输入值
            event.stopPropagation();
            if(window.event) {
                keynum = event.keyCode
            }
            else if(event.which) {
                keynum = event.which
            }
            if(keynum == 13) {
                var searchValue = document.getElementById("input").value;
                window.open("./logList?search="+searchValue,"_self");
            }
        } 
        window.onload = function() {
            var newLogNode = document.getElementById("newLog");
            setInterval(function(){
                if(newLogNode.style.transform != "rotate(8deg)") {
                    newLogNode.style.transform = "rotate(8deg)";
                }else{
                    newLogNode.style.transform = "rotate(-8deg)";
                }
            },1000);
        };
    </script>
  </body>
</html>
