<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="http://localhost:3000/login" method="post">
        账号：<input type="text" placeholder="请输入账号" name="userName"/><br/>
        输入密码：<input type="password" placeholder="请输入密码" name="passWord"/><br/>
        <input type="submit" value="submit" /><br/> 
    </form>
  </body>
</html>
