<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
<form class="form-horizontal" role="form" action="./submitMyInfo" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">网名</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="name" 
				   id="name" placeholder="请输入一个帅气的网名">
		</div>
	</div>
	<div class="form-group">
		<label for="age" class="col-sm-2 control-label">年纪</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" name="age" 
				   id="age" placeholder="请输入年纪">
		</div>
	</div>
	<div class="form-group">
		<label for="sex" class="col-sm-2 control-label">性别</label>
		<div class="col-sm-10">
            <select name="sex">
                <option value="0">男</option>
                <option value="1">女</option>
                <option value="2">其它</option>
            </select>
		</div>
	</div>
	<div class="form-group">
        <label for="sexFor" class="col-sm-2 control-label">取向</label>
		<div class="col-sm-10">
            <select name="sexFor">
                <option value="0">男</option>
                <option value="1">女</option>
                <option value="2">通吃</option>
            </select>
		</div>
	</div>
	<div class="form-group">
		<label for="logo" class="col-sm-2 control-label">头像</label>
		<div class="col-sm-10">
			<input type="file" class="form-control" name="logo" 
				   id="logo">
		</div>
	</div>
	</br>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">确认</button>
		</div>
	</div>
</form>
	<img src='http:\\localhost:3000\\uploads\\3.jpg'></img>
  </body>
</html>
