<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="http://localhost:3000/register" method="post">
        账号：<input type="text" placeholder="请输入账号" name="userName"/><br/>
        <!--邮箱：<input type="email" id="em1" placeholder="请输入邮箱" name="email"/><br/>-->
        <!--邮箱验证码：<input type="text" placeholder="请输入邮箱验证码" name="emailCode"/><br/>-->
        输入密码：<input type="password" placeholder="请输入密码" name="passWord1"/><br/>
        确认密码：<input type="password" placeholder="请确认密码" name="passWord2"/><br/>
        <input type="submit" value="submit" /><br/> 
    </form>
  </body>
</html>
